<!DOCTYPE html>
<html>
<body>

<h1>My Organisation</h1>
<p>Details</p>
<hr>

<p><a href="http://localhost:3000/departments">Department details</a></p>
<p><a href="http://localhost:3000/employees">Employees details</a></p>
<p><a href="http://localhost:3000/ageorder">Employees details based on their age order</a></p>
<p><a href="http://localhost:3000/salaryorder">Employees details based on their salary order</a></p>
<p><a href="http://localhost:3000/retiredpeople">Retired people from the organisation</a></p>
<p><a href="http://localhost:3000/highestsalary">Highest paid employee in the organisation</a></p
<p><a href="http://localhost:3000/top5employees">Top 5 aged employees in the organisation</a></p
<p><a href="http://localhost:3000/topsal5employees">Top 5 highest paid employess in the organisation</a></p>
<p><a href="http://localhost:3000/lowsalary&highage">The senior most employee with lowest salary in organisation</a></p>






</body>
</html>